.footer_container {
  background-color: #3b455a;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.footer_inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dfe1e5;
  /* padding: 20px; */
  margin: 0px 150px;
}

.footer_container li {
  list-style: none;
  color: #ffffff;
}

.footer_container ul a {
  color: #ffffff;
  text-decoration: none;
}
.socialmedia ul {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
/* 
.right_footer {
  display: flex;
  flex-direction: column;
} */

.middle_footer ul,
.left_footer ul,
.right_footer ul {
  padding-left: 0px; /* Adjust this value as needed */
}

.middle_footer ul li,
.left_footer ul li,
.right_footer ul li {
  margin-bottom: 10px; /* Adjust this value as needed */
}

.right_footer ul li a:hover {
  color: #0056b3;
}

.middle_footer ul li a:hover {
  color: #0056b3;
}

.middle_footer ul li a,
.right_footer ul li a {
  color: gray;
}
/* 
.footer_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  padding: 10px 20px; 
  color: white; 
} */
